.about {
  scroll-margin-top: 115px;
  width: 100%;
  background-color: white;
  z-index: 3;
}

.about__title {
  text-align: center;
  font-size: 32px;
}

.about__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-self: center;
}

.about__content {
  align-self: center;
  text-align: center;
  max-width: 900px;
}

.about__text {
  text-align: center;
  margin-bottom: 50px;
}

.about__frame-container {
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.about__frame {
  border-radius: 10px;
  width: 720px;
  height: 480px;
  align-self: center;
}

.about__frame-description {
  text-align: center;
  margin: 5px 0 0 0;
  max-width: 720px;
  align-self: center;
}

@media (max-width: 740px) {
  .about__frame {
    width: 320px;
    height: 240px;
  }

  .about__title {
    margin: 0 0 40px 0;
    width: 100%;
  }

  .about__content {
    width: 100%;
  }

  .about__text {
    width: 100%;
  }
}
