.about {
  margin: 80px 150px;
  border-top: solid 2px black;
  scroll-margin-top: 115px;
}

.about__title {
  text-align: center;
  margin: 80px 0 30px;
}

.about__container {
  display: flex;
}

.about__content {
  align-self: center;
}

.about__frame-container {
  justify-self: center;
}

.about__frame {
  border-radius: 10px;
}
