.contact {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  margin: auto;
  z-index: 3;
}

.contact__title {
  text-align: center;
  margin: 0 0 40px 0;
  font-size: 32px;
}

.contact__content {
  display: flex;
  flex-direction: row;
  width: 15%;
  justify-content: space-between;
}

.contact__image-instagram {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  max-width: 40px;
  max-height: 40px;
  display: inline-block;
  padding: 4px;
  border-radius: 16px;
  transition: transform 0.5s ease;
}

.contact__image-instagram:hover {
  transform: scale(1.5);
}

.contact__image-whatsapp {
  background-color: rgb(37, 211, 102);
  max-width: 40px;
  max-height: 40px;
  display: inline-block;
  padding: 4px;
  border-radius: 16px;
  transition: transform 0.5s ease;
}

.contact__image-whatsapp:hover {
  transform: scale(1.5);
}

.contact__image-facebook {
  background-color: rgb(8, 102, 255);
  max-width: 40px;
  max-height: 40px;
  display: inline-block;
  padding: 4px;
  border-radius: 16px;
  transition: transform 0.5s ease;
}

.contact__image-facebook:hover {
  transform: scale(1.5);
}

.contact__image-email {
  background-color: rgb(32, 32, 32);
  max-width: 40px;
  max-height: 40px;
  display: inline-block;
  padding: 4px;
  border-radius: 16px;
  transition: transform 0.5s ease;
}

.contact__image-email:hover {
  transform: scale(1.5);
}
