.contact {
  width: 100%;
  padding: 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  text-align: center;
  margin: auto;
}

.contact__list {
  list-style: none;
  text-align: center;
  padding: 10px;
}

.contact__list-item {
  padding: 5px;
  line-height: 20px;
  border-radius: 10px;
}

.contact__list-item:hover {
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s ease;
  background-color: #550000;
  color: white;
}
