.footer {
  background-color: rgb(70, 70, 70);
  color: white;
  padding-top: 50px;
}

.footer__content {
  margin: 0 500px;
  display: flex;
  justify-content: space-around;
}

.footer__location {
}

.footer__contact {
}

.footer__title {
  font-weight: bold;
  font-size: large;
  margin-bottom: 15px;
}

.footer__list {
  list-style: none;
}

.footer__list-item {
  margin-top: 7px;
}

.footer__info {
}

.footer__copyright {
}
