.location {
  scroll-margin-top: 100px;
  width: 100%;
  padding: 50px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #550000;
  color: white;
}

.location__map {
  width: 520px;
  height: 360px;
}
