.location {
  scroll-margin-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
}

.location__title {
  text-align: center;
  font-size: 32px;
}

.location__name {
  text-align: center;
  margin-top: 80px;
}

.location__map {
  width: 520px;
  height: 360px;
}
