.nav {
  display: flex;
  position: fixed;
  width: 100%;
  justify-content: space-between;
  padding: 0 50px;
  border-bottom: solid 2px black;
  background-color: darkred;
}

.nav__logo {
  max-width: 200px;
  max-height: 150px;
}

.nav__container {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  column-gap: 20px;
  align-items: center;
  font-size: 25px;
  padding-right: 100px;
}

.nav__list-item {
  text-decoration: none;
  color: white;
}

.nav__list-item:hover {
  font-size: 30px;
  transition: 0.5s;
}
