.nav {
  display: flex;
  position: sticky;
  top: 0;
  max-width: 100%;
  height: 120px;
  justify-content: space-between;
  padding: 0 50px;
  background-color: darkred;
  z-index: 1;
}

.nav__logo {
  max-width: 200px;
  max-height: 150px;
}

.nav__container {
  display: flex;
}

.nav__list {
  display: flex;
  list-style: none;
  column-gap: 20px;
  align-items: center;
  font-size: 25px;
}

.nav__list-item {
  text-decoration: none;
  color: white;
}

.nav__list-item:hover {
  font-size: 30px;
  text-decoration: underline;
  transition: 0.5s;
}
