.products {
  margin: 80px 150px;
  scroll-margin-top: 180px;
}

.products__title {
  justify-self: center;
  margin: 0 0 80px 0;
}

.products__cards-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  column-gap: 20px;
  row-gap: 50px;
}

.products__card {
  max-width: 280px;
  border: solid 1px black;
  border-radius: 5px;
}

.products__card-image {
  max-width: 280px;
}

.products__card-title {
  margin: 10px 0 0 10px;
}

.products__card-description {
  margin: 10px 0 0 10px;
}
