.products {
  scroll-margin-top: 170px;
  width: 100%;
  z-index: 3;
}

.products__title {
  justify-self: center;
  margin: 0 0 80px 0;
  font-size: 32px;
}

.products__cards-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  padding: 0 0 60px 0;
}

.products__card {
  max-width: 280px;
  border: solid 2px black;
  border-radius: 5px;
  background-color: #550000;
  color: white;
}

.products__card-image {
  max-width: 280px;
  min-width: 280px;
}

.products__card-title {
  margin: 10px 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.products__card-description {
  margin: 10px 0 10px 10px;
}

@media (max-width: 910px) {
  .products__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 740px) {
  .products__cards-container {
    grid-template-columns: repeat(1, 1fr);
  }

  .products__title {
    margin: 0 0 40px 0;
    text-align: center;
    width: 100%;
  }
}
