.products {
  scroll-margin-top: 100px;
  background-color: #550000;
  width: 100%;
  color: white;
}

.products__title {
  justify-self: center;
  margin: 0 0 80px 0;
  padding: 40px 0 0 0;
  font-size: 32px;
}

.products__cards-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  padding: 0 0 60px 0;
}

.products__card {
  max-width: 280px;
  border: solid 1px white;
  border-radius: 5px;
  transition: background-color 0.5s ease;
}

.products__card:hover {
  cursor: pointer;
  border: solid 1px black;
  background-color: white;
  color: black;
}

.products__card-image {
  max-width: 280px;
  min-width: 280px;
}

.products__card-title {
  margin: 10px 0 0 10px;
  font-size: 20px;
  font-weight: bold;
}

.products__card-description {
  margin: 10px 0 10px 10px;
}

@media screen and (max-width: 910px) {
  .products__cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
